.hero {
  width: 100%;
  height: 561px;
  background-image: url("/src/imagens/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    width: 193.74px;
    height: 80px;
    display: block;
    margin: 64px auto;
  }
  h1 {
    width: 914px;
    height: 109px;
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
  }
  &__barra {
    width: 960px;
    height: 77px;
    margin-top:67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    &__infos {
      list-style: none;
      display: flex;
      &__item {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-right: 40px;
      }
    }
    .button {
      width: 168px;
      height: 45px;
      background-color: #4f2ac3;
      color: #ffffff;
    }
  }
}
